/* Estilos Base (Desktop/Default) */
* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden
}


.titulo_section2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #1d252a;
    text-align: center;
    margin-top: 64px;
    font-size: 16px !important;
}

.titulo_section2 h3 {
    color: #394852;
    font-family: Poppins;
    font-size: 24px;
}

.descricao_capacidades {
    max-width: 800px;
    padding: 0 20px; /* Garante um respiro nas laterais em telas pequenas */
    text-align: center;
    font-weight: 500;
}

.section2 {
    display: flex;
    flex-direction: row; /* Colunas lado a lado no desktop */
    align-items: flex-start;
    gap: 32px;
    justify-content: center; /* Centralizado */
    margin: 48px auto;
    width: 90%; /* Melhor usar 90% para não colar nas bordas */
    flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
}

.controle p, .integracao p, .design p{
    font-size: 20px;
}

/* Classes dos containers */
.controle, .integracao, .design {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
    gap: 16px;
}

/* Imagens Responsivas */
.imgMulher, .imgIA, .imgProduto {
    width: 100%; /* A imagem ocupa no máximo o container pai */
    max-width: 450px;
    height: auto; /* Mantém a proporção original */
    object-fit: cover;
}

/* --- RESPONSIVIDADE PARA CELULARES --- */
@media (max-width: 768px) {
    .section2 {
        flex-direction: column; /* Muda para um abaixo do outro */
        gap: 40px; /* Reduz o espaçamento entre os blocos */
        margin: 32px auto;
    }

    .titulo_section2 {
        margin-top: 32px;
    }

      .titulo_section2 h2 {
        font-size: 30px;
    }

    .controle, .integracao, .design {
    max-width: 100%;
    width: 100%;
    
    }

}