/* Estilos Base (Desktop/Default) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.titulo_section2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #1d252a;
    text-align: center;
    margin-top: 64px;
}

.titulo_section2 h2 {
    font-size: 2.5rem;
}

.titulo_section2 h3 {
    color: #394852;
    font-family: Poppins;
    font-size: 1.5rem;
}

.descricao_capacidades {
    max-width: 1000px;
    padding: 0 20px;
    text-align: center;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1.8;    
    letter-spacing: 0.3px;
    font-size: 1.5rem;

}

.section2 {
    display: flex;
    flex-direction: row; /* Colunas lado a lado no desktop */
    align-items: flex-start;
    gap: 60px;
    justify-content: center; /* Centralizado */
    margin: 48px auto;
    width: 90%; /* Melhor usar 90% para não colar nas bordas */
    flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
}

.controle p, .integracao p, .design p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-size: 1.2rem;
    gap: 10px;
    max-width: 300px;
    min-height: 120px;

}

/* Classes dos containers */
.controle, .integracao, .design {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    text-align: center;
    gap: 16px;
}

/* Imagens Responsivas */
.imgMulher, .imgIA, .imgProduto {
    width: 100%;
    max-width: 360px;
    height: auto;
    object-fit: cover;
}

/* --- RESPONSIVIDADE PARA CELULARES --- */
@media (max-width: 768px) {

    .section2 {
        flex-direction: column; /* Muda para um abaixo do outro */
        gap: 40px; /* Reduz o espaçamento entre os blocos */
        margin: 32px auto;
    }

    .titulo_section2 {
        margin-top: 32px;
    }

      .titulo_section2 h2 {
        font-size: 30px;
    }

    .descricao_capacidades {
        font-size: 1rem !important;
    }

    .controle, .integracao, .design {
    max-width: 100%;
    width: 100%;
    
    }
}