:root {
  --main-font-size: 16px; 
}

body {
  font-size: var(--main-font-size);
}


p, span, a, li, input, button:not(.btn-font, .btn-reset, .btn-contrast, .btn-voice) {
  font-size: inherit;
}

/* Estilo para o Modo de Alto Contraste */
.high-contrast-mode {
  background-color: #000000 !important;
  color: #ffffff !important;
}


.high-contrast-mode header, 
.high-contrast-mode footer, 
.high-contrast-mode main {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.app-container{
  z-index: 0;
}


