@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta de Cores */
    --cor-azul: #1A53FF;
    --cor-roxo: #9333EA;
    --cor-verde: #30BD30;
    --cor-laranja: #F97316;
    --cor-preto: #1D252A;
    --cor-branco: #FAFCFF;

    /* Tipografia */
    --fonte-titulos: 'Montserrat', sans-serif;
    --fonte-corpo: 'Poppins', sans-serif;

    font-size: var(--main-font-size, 16px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    font-family: var(--fonte-corpo);
    line-height: 1.6;
    transition: font-size 0.2s ease;
}

/*tira o scroll da página*/

* {
    scrollbar-width: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}


/* Padronização de títulos usando rem */
h1 {
    font-family: var(--fonte-titulos);
    font-weight: 800;
    font-size: 3rem; 
    line-height: 1.2;
}

h2 {
    font-family: var(--fonte-titulos);
    font-weight: 700;
    font-size: 2.25rem; 
}

h3 {
    font-family: var(--fonte-titulos);
    font-weight: 600;
    font-size: 1.75rem; 
}

p {
    font-size: 1rem; 
}

.lead {
    font-size: 1.25rem; 
}

/*ver libras*/

[vw] {
    pointer-events: none !important;
}

[vw-access-button],
[vw-plugin-wrapper],
[vw-plugin-wrapper] * {
    pointer-events: all !important;
}


[vw-access-button] {
    transform: translateY(0px) !important;
}
